.footer-container {
  width: 100%;
  height: 170px;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-left {
  color: #fff;
  font-size: 112px;
  margin-top: 15px;
  transition: font-size 0.15s;
}

.footer-left:hover {
  font-size: 120px;
}

.vertical-line {
  height: 90%;
  width: 4px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-buttons {
  display: flex;
  flex-direction: column;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.scripture-button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
  width: 250px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}

.scripture-button {
  text-decoration: none;
  color: #fff;
}

.scripture-button:hover {
  background: rgb(241, 151, 34);
  color: #fff;
  transition: all 0.3s ease-out;
  font-size: 20px;
}
